.App {
  text-align: center;
}

#root>div>header>nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

img {
  width: 30%;
}

#root>div>main>section>article p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
